.ds-about-avatar {
    margin: 1rem;
    font-size: .5rem;
}

.ds-about-avatar-img {
    margin-bottom: .85rem;
}

.ds-about-avatar-name {
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: .1rem;
}

