// górny wiesz stopki
.ds-footer-top {
    position: relative;
    padding: 80px 0 20px;
    background: url('../images/bg/footer-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    &:after {
        @include bg-overlay($ds-black,
        .75);
    }
}

.ds-footer-top-content {
    @include relative-zindex;
}

.ds-footer-text {
    font-size: .75rem;
    color: $gray-600;
}

.ds-footer-p {
    line-height: 2;
}

.ds-footer-contact-list {
    margin-bottom: .75rem;
}

.ds-footer-contact-item {
    padding: .2rem 0;
}

.ds-social-box {
    @include ds-size(26px,
    26px);
}

// kolumna newsletter
.ds-newsletter-form-group {
    margin-bottom: .75rem;
}

.ds-newsletter-form-control {
    height: 1.55rem;
    font-size: .75rem;
}

.ds-newsletter-btn {
    padding: .25rem 1rem;
    font-size: .625rem;
}

// copyright
.ds-copy {
    padding: 1rem 0;
    font-size: .625rem;
}

.ds-copy-second {
    margin-top: .25rem;
    font-size: .5625rem;
}