.ds-header-item-link {
    font-size: .65rem;
    @include media-breakpoint-up(md) {
        padding: 1.65rem 1.25rem;
    }
}


/* aktywna pozycja w menu */

.ds-header-item-active {
    background-color: $ds-white;
}

.bg-ds-dark {
    background: $ds-background;
}