.ds-portfolio-box {
    position: relative;
}

.ds-portfolio-box-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 65%;
    margin: 0 auto;
    z-index: 1000;
    transform: translateY(-50%)
}

.ds-portfolio-box-title {
    margin-bottom: 1.2rem;
    font-size: 1.55rem;
    letter-spacing: .2rem;
}

.ds-portfolio-box-img {
    max-width: 540px;
}

.ds-portfolio-box.featured {
    max-width: 540px;
}

.ds-portfolio-img-overlay {
    &:after {
        @include bg-overlay($ds-accent-color, .8);
    }
}

// style dla portfolio item
.ds-portfolio-item {
    position: relative;
    margin-bottom: 1.875rem;
    .ds-hr {
        margin: 1rem 0;
    }
}

.ds-portfolio-item-info {
    @include ds-font-light-secondary;
}

.ds-portfolio-box-header {
    font-size: 1.125rem;
    letter-spacing: .2rem;
}