// sekcja welcome
.ds-front-page-welcome {
    padding: 60px 0 70px;
}

// sekcja portfolio
.ds-front-page-portfolio {
    padding: 70px 0 75px;
}

.ds-front-page-portfolio-last:hover {
    border: 2px solid $ds-accent-color;
    opacity: .7;
    @include ds-basic-transition;
}

.ds-front-page-portfolio-last:last-child {
    margin-top: 29px;
}

// sekcja usługi
.ds-front-page-services {
    padding: 65px 0 30px;
}

//sekcja blog
.ds-front-page-blog {
    padding: 65px 0 0;
    .ds-post-box {
        margin-bottom: 75px;
    }
}